
.a1{
    text-align: center;
    background-color: aqua;
    display: block;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}




.j{
    margin-left: auto;
    margin-right: auto;
    display: block;
}





.a2{
    text-align: center;

    display: block;
}




